---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$fancy-purple-color: #800080;

a { 
    color: #000;
    text-decoration: none; 
    &:visited {
        color: #333;
    }
    &:hover {
        color: $fancy-purple-color
    }
}

.greedy-nav .visible-links a:before{
    background: $fancy-purple-color;
}

.page__hero--overlay {
    padding: 5em 0;
}